/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Anakatoria";
    src: url("../public/fonts/Anaktoria.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }