/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Anakatoria";
    src: url("../public/fonts/Anaktoria.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 100%;
}